{% extends 'base.html' %}
{% block content %}
<section class="py-5 mt-5 bg-dark text-white">
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h1 class="fw-bolder">Plongez au cœur de l'InterLigue !</h1>
                <p class="lead mb-5 mt-5">Bienvenue sur le portail dédié à notre compétition de Rocket League, où vous
                    pourrez suivre toute l'actualité liée à l'événement. <br> Vous y trouverez toutes les informations
                    importantes, telles que le règlement, les équipes, les calendriers, les classements et les
                    statistiques, ainsi que bien d'autres informations utiles. <br> Tout est regroupé en un seul et même
                    endroit pour votre plus grand confort. <br> Nous espérons que cette plateforme sera pour vous un
                    véritable atout pour suivre et profiter pleinement de la compétition.</p>
                <a href="#" class="btn mb-5 btn-lg btn-primary">Nous rejoindre sur discord !</a>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <img src="/static/logo.png" alt="Image d'illustration" class="img-fluid" width=auto height=auto>
            </div>
        </div>
    </div>
</section>
{% endblock content %}